<div>
  <h1>All Recipes</h1>
  <form action="/all/search" method="get">
    <input type="text" name="search" placeholder="Search for a recipe" />
    <input type="submit" value="Search" />
  </form>
  <br /><br />
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">
      Show all</button>
    <button class="btn" onclick="filterSelection('Breakfast')">
      Breakfast</button>
    <button class="btn" onclick="filterSelection('Lunch')"> Lunch</button>
    <button class="btn" onclick="filterSelection('Dinner')"> Dinner</button>
    <button class="btn" onclick="filterSelection('Summer')"> Summer</button>
    <button class="btn" onclick="filterSelection('Winter')"> Winter</button>
    <button class="btn" onclick="filterSelection('Spring')"> Spring</button>
    <button class="btn" onclick="filterSelection('Fall')"> Fall</button>
  </div>
  <div class="container">
    {{#each recipeList}}
      <div class="filterDiv {{this.recipeType}} {{this.season}}">
        <a href="recipe/{{this._id}}">{{this.name}}</a>
        <br>
        Recipe Type {{this.recipeType}}
        <br>
        Cooking Time {{this.cookTime}} minutes
        <br>
        Rating {{this.rating}}/5
        <br>
        <div id="favResult">
          {{#if this.favoriteAdd}}
            Added to Favorites
          {{else}}
            <form action="/user/addfavorite" method="post">
          <input type="hidden" name="recipeId" value="{{this._id}}" />
          <input type="submit" value="Add to Favorites" />
        </form>
          {{/if}}
        </div>
        <br>
        {{!-- <form action="/user/addfavorite" method="post">
          <input type="hidden" name="recipeId" value="{{this._id}}" />
          <input type="submit" value="Add to Favorites" />
        </form> --}}
      </div>
    {{/each}}
  </div>
</div>

<script src="/public/js/allrecipe.js"></script>