<div>
  <h1>All Recipes</h1>
  <form action="/all/search" method="get">
    <input type="text" name="search" placeholder="Search for a recipe" id="search-input"/>
    <input type="submit" value="Search" id="search" />
  </form>
  <br>
  <div class="error">{{error}}</div>
  <div class="message">{{message}}</div>
  <br>
  <br /><br />
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">
      Show all</button>
    <button class="btn" onclick="filterSelection('Breakfast')">
      Breakfast</button>
    <button class="btn" onclick="filterSelection('Lunch')"> Lunch</button>
    <button class="btn" onclick="filterSelection('Dinner')"> Dinner</button>
    <button class="btn" onclick="filterSelection('Snacks')"> Snacks</button>
    <button class="btn" onclick="filterSelection('Summer')"> Summer</button>
    <button class="btn" onclick="filterSelection('Winter')"> Winter</button>
    <button class="btn" onclick="filterSelection('Spring')"> Spring</button>
    <button class="btn" onclick="filterSelection('Fall')"> Fall</button>
  </div>
  <div class="container" id="list">
    {{#each recipeList}}
      <div class="filterDiv {{this.recipeType}} {{this.season}}">
        <a href="all/{{this._id}}">{{this.name}}</a>
        <br>
        Recipe Type {{this.recipeType}}
        <br>
        Cooking Time {{this.cookTime}} minutes
        <br>
        Rating {{this.rating}}/5
        <br>
        <div id="favResult">
            <form action="/user/addfavorite" method="post" class="favbutton" id="{{this.id}}">
          <input type="hidden" name="recipeId" value="{{this._id}}" />
          <input type="submit" value="Add to Favorites" />
        </form>
        </div>
        <br>
        {{!-- <form action="/user/addfavorite" method="post">
          <input type="hidden" name="recipeId" value="{{this._id}}" />
          <input type="submit" value="Add to Favorites" />
        </form> --}}
      </div>
    {{/each}}
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/allrecipe.js"></script>
