<div class="userPrfile">
    <form action="/user/private" method="post" id="user_form">
        <label for="userName">username
        <br>
        <input type="text" id="userName" value="{{userName}}" disabled="disabled">
        </label>
        <br>
        <label for="firstname">firstName
        <br>
        <input type="text" id="firstname" value="{{firstName}}" disabled="disabled">
        </label>
        <br>
        <label for="lastname">lastName
        <br>
        <input type="text" id="lastname" value="{{lastName}}" disabled="disabled">
        </label>
        <br>
        <label for="email">email
        <br>
        <input type="text" id="email" value="{{email}}" disabled="disabled">
        </label>
        <br>
        {{#if favoriteRecipesName.length}}
        <div>
            <label>favoriteRecipesName</label>
            <br>
            {{#each favoriteRecipesName}}
            <label for="recipe{{id}}">
            <input type="text" id="recipe{{id}}" class="favoriteRecipesName" value="{{name}}" disabled="disabled">
            </label>
            <button type="submit" id="{{id}}" class="favoriteRecipesNameDelete" hidden>delete</button>
            <br>
            {{/each}}
        </div>
        {{else}}
        {{/if}}
        <button type="submit" id="edit">edit</button>
        <br>
        <button type="submit" id="finish" hidden>finish</button>
    </form>
    <p>{{error}}</p>
    <p id="error" class="error" hidden></p>
    <button type="submit" id="addNewRecipe">addNewRecipe</button>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/user.js"></script>
    <br>
</div>