<div class="flex-parent">
    <div class="flex-child-element card signup userdetails">
        <div class="card-header signup_h1">
            <h3>User Details</h3>
        </div>
        <div class="card-body signup_form">
            <form action="/user/private" method="post" id="user_form">
                <label class="form-label" for="userName">Username</label>
                <input class="form-control" type="text" id="userName" value="{{userName}}" disabled="disabled">
                <br>
                <label class="form-label" for="firstname">First name</label>
                <input class="form-control" type="text" id="firstname" value="{{firstName}}" disabled="disabled">
                <br>
                <label class="form-label" for="lastname">Last name</label>
                <input class="form-control" type="text" id="lastname" value="{{lastName}}" disabled="disabled">
                <br>
                <label class="form-label" for="email">email</label>
                <input class="form-control" type="text" id="email" value="{{email}}" disabled="disabled">
                <br>
                <button class="btn" type="submit" id="edit">Edit Profile details</button>
                <br />
                <button class="btn" type="submit" id="finish" hidden>Update</button>
            </form>
        </div>
    </div>
    <div class="flex-child-element card signup recipedetails">
        <div>
            <div class="card-header signup_h1">
                <h3>Favorite Recipes</h3>
            </div>
            <div>
                {{#if favoriteRecipesName.length}}
                <br />
                {{#each favoriteRecipesName}}
                <label for="recipe{{id}}" class="favoriteRecipesName" value="{{name}}" disabled="disabled">
                    <input type="text" id="recipe{{id}}" class="favoriteRecipesName" value="{{name}}"
                        disabled="disabled" />
                </label>
                <button type="submit" id="{{id}}" class="btn favoriteRecipesNameDelete" hidden>Remove from
                    Favorite</button>
                <br />
                {{/each}}

                {{else}}
                There is not any favorite recipe.
                {{/if}}
            </div>
        </div>

        <div class="userRecipes">
            <div class="card-header signup_h1">
                <h3>Your Recipes</h3>
            </div>
            <div class="card-body">
                {{#if recipes.length}}
                <div class="userRecipesList">
                    <ul>
                        {{#each recipes}}
                        <li>
                            <a href="/all/{{this.id}}">
                                {{this.name}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{else}}
                <h3>You have no recipes yet.</h3>
                {{/if}}
                <button class="btn" type="submit" id="addNewRecipe">Add a new recipe</button>
            </div>
        </div>
    </div>
</div>
<p>{{error}}</p>
<p id="error" class="error" hidden></p>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/user.js"></script>
