<div>
    <h2>{{recipeData.name}}</h2>
    <div id="errors" class="error">
        Errors go here
        {{#if errors}}
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
        {{/if}}
    </div>
    <div>
        <span id="overallrating">{{recipeData.overallrating}}</span> Ratings |
        <span id="likes">{{recipeData.likes.length}}</span> Likes |
        <span id="comments">{{recipeData.comments.length}}</span> Comments
    </div>
    <div class="rating">
        <label class="form-label" for="rating">Rating:</label>
        <input class="form-control" type="number" id="rating" name="rating" min="1" max="5">
        <button class="btn" id="addrating" data-rid="{{recipeData._id}}">Add Rating</button>
    </div>
    <br />
    <div class="flex-parent">
        <div class="flex-child-element">
            <dl>
                <dt>Preparation Time: </dt>
                <dd>{{recipeData.preparationTime}}</dd>

                <dt>Preparation Time:</dt>
                <dd>{{recipeData.preparationTime}}</dd>

                <dt>Cooking Time:</dt>
                <dd>{{recipeData.cookTime}}</dd>

                <dt>Meal Type:</dt>
                <dd>{{recipeData.recipeType}}</dd>

                <dt>Season:</dt>
                <dd>{{recipeData.season}}</dd>

                <dt>Food Groups:</dt>
                <dd>{{recipeData.foodGroup}}</dd>
            </dl>
            <div>
                <button id="likebtn" class="{{#if like}}like{{else}}dislike{{/if}} btn" data-rid="{{recipeData._id}}"
                    data-like="{{like}}"> {{#if like}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg> {{else}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-suit-heart" viewBox="0 0 16 16">
  <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
</svg> {{/if}}</button>
            </div>
            <div>
                Comments:
                <form id="commentform">
                    <label for="comment" class="form-label"></label>
                    <input class="form-control" type="text" id="comment" name="comment" placeholder="Enter a comment here"><br>
                    <button class="btn" id="addcommentbtn" data-rid="{{recipeData._id}}">Add a
                        comment</button>
                </form>
                <ul id="commentList">
                    {{#each recipeData.comments}}
                    {{> comment}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="flex-child-element">
            <dl>
                <dt>Ingredients:</dt>
                <dd>
                    {{#each recipeData.ingredients}}
                    {{this}}: {{@key}}<br />
                    {{/each}}
                </dd>

                <dt>Steps:</dt>
                <dd>
                    <ol>
                        {{#each recipeData.recipeSteps}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ol>
                </dd>

                <dt>Nutrition Facts:</dt>
                <dd>
                    {{#each recipeData.nutritionDetails}}
                    {{@key}}: {{this}}<br />
                    {{/each}}
                </dd>
            </dl>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/singleRecipe.js"></script>