<div>
    <h1>{{recipeData.name}}</h1>
    {{!-- <button id="download">Download</button> --}}
    <div>
        {{recipeData.rating}} Ratings | {{recipeData.likes.length}} Likes | {{recipeData.comments.length}} Comments
    </div>
    <br />
    <div>
        Preparation Time: {{recipeData.preparationTime}}
        <br />
        Cooking Time: {{recipeData.cookTime}}
        <br />
        Meal Type: {{recipeData.recipeType}}
        <br />
        Season: {{recipeData.season}}
        <br />
        Food Groups: {{recipeData.foodGroup}}
    </div>
    <h3>Ingredients</h3>
    <div>
        {{#each recipeData.ingredients}}
        {{this}}: {{@key}}<br />
        {{/each}}
    </div>
    <h3>Steps</h3>
    <div>
        {{#each recipeData.recipeSteps}}
        {{this}}<br />
        {{/each}}
    </div>
    <h3>Nutrition Facts</h3>
    <div>
        {{#each recipeData.nutritionDetails}}
        {{@key}}: {{this}}<br />
        {{/each}}
    </div>
    <div>
        <button id="likebtn" class="{{#if like}}like{{else}}dislike{{/if}}" data-uid="{{userData._id}}"
            data-rid="{{recipeData._id}}" data-like="{{like}}"> {{like}}</button>
            <div id="likeerror" hidden></div>
    </div>
    <div>
        Comments:
        <form id="commentform">
            <label for="comment"></label>
            <input type="text" id="comment" name="comment" placeholder="Enter a comment here">
            <button id="addcommentbtn" data-uid="{{userData._id}}" data-rid="{{recipeData._id}}">Add a
                comment</button>
        </form>
        <ul id="commentList">
            {{#each recipeData.comments}}
                {{> comment}}
            {{/each}}
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/singleRecipe.js"></script>
